<div *ngIf="album">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-sm-4">
          <img class="img-thumbnail" src="{{ album.images[0].url }}" alt="{{ album.name }} cover photo">
        </div>
        <div class="col-sm-8">
          <h4 *ngIf="album.artists.length > 0">
            <span *ngFor="let artist of album.artists">
              <a routerLink="/artist/{{artist.id}}" class="app-green artists-presentation">{{ artist.name }}</a>
            </span>
          </h4>
          <h2 class="app-blue">{{ album.name }}</h2>
          <h5 class="app-yellow">Release date: {{ album.release_date }}</h5>
          <a class="btn btn-primary" target="_blank" href="{{ album.external_urls.spotify }}">
            View in Spotify
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2>Album tracks</h2>
          <div *ngFor="let track of album.tracks.items">
            <div class="row well well-sm">
              <div class="col-sm-4">
                {{ track.track_number }}. {{ track.name }}
              </div>
              <div class="col-sm-4 align-center">
                Duration: {{ track.duration_ms | milisecondsTransform }}
              </div>
              <div class="col-sm-4 align-right">
                <a href="{{ track.preview_url}}" target="_blank">Preview track</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>